@page
@model ForumSport.Pages.Admin.AdminsidanModel
@{
}
<div class="text-center">
    <h1>Adminsidan</h1>
</div>
<br />
<a asp-page="/Admin/CreateCategory"><h3>Skapa kategori</h3></a>
<br />
<hr />
<a asp-page="/Admin/CreateSubCategory"><h3>Skapa Subkategori</h3></a>
<br />
<hr />
<a asp-page="/Admin/ReportedPost"><h3>Anmälda poster</h3></a>
<br />
<hr />

