@page
@model ForumSport.Pages.SpecificPostModel
@{
}

<div class="card card-body d-flex justify-content-center align-items-center">
    <h1>@Model.Post.Header</h1>
    <p>@Model.Post.Content</p>
</div>
    

